* {
  margin: 0%;
  padding: 0%;
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  padding: 1rem;
}

header li {
  display: inline;
}

header ul {
  list-style: none;
}

header li a {
  text-decoration: none;
  color: #2146c7;
  font-size: larger;
}

.float-right {
  float: right;
  margin-right: 1rem;
}

.float-left {
  float: left;
  margin-right: 1rem;
}

.hero {
  position: relative;
  background-color: lightblue;
  background-image: url("../images/doctor.png");
  background-size: cover;
  width: auto;
  height: 500px;
}

.hero h1 {
  margin-left: 1.7rem;
  font-size: 4rem;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #2146c7;
}

.hero p {
  margin-left: 2rem;
  font-size: 1.22rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main article {
  height: auto;
  margin: 1rem;
  text-align: center;
  color: white;
}

main section:first-of-type article {
  background-color: #2146c7;
  padding: 1rem;
  text-align: center;
  color: white;
}

main section:first-of-type h2 {
  margin-bottom: 1rem;
}

main img {
  width: 230px;
}

main section:nth-of-type(2) article {
  width: 350px;
  padding: 0.75rem;
  margin: 1rem 0;
  height: 210px;
}

main section:nth-of-type(2) article:nth-child(even) {
  background-color: #009eff;
  cursor: pointer;
}

main section:nth-of-type(2) article:nth-child(even):hover i {
  background-color: #2146c7;
  transition: 2s;
}

main section:nth-of-type(2) article:nth-child(odd) {
  background-color: #2146c7;
  cursor: pointer;
}

main section:nth-of-type(2) article:nth-child(odd):hover i {
  background-color: #009eff;
  transition: 2s;
}

main section:nth-of-type(2) article h2 {
  margin-bottom: 1rem;
}

main i {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 2px solid white;
  padding: 1rem;
}

main section:nth-of-type(3) h2 {
  width: 100%;
  margin: 1rem;
}

main section:nth-of-type(3) article {
  height: 310px;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

main section:nth-of-type(3) article p {
  position: absolute;
  bottom: 0;
  padding: 0.25rem 0rem;
  width: 100%;
  font-size: 1.05rem;
}

main section:nth-of-type(3) article:nth-child(odd) p {
  background-color: #2146c7;
}

main section:nth-of-type(3) article:nth-child(even) p {
  background-color: #009eff;
}

main section:nth-of-type(3) article:first-of-type {
  background-image: url("../images/MedicoCirujano.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 0.15rem 1rem;
  text-align: center;
}

main section:nth-of-type(3) article:nth-child(3) {
  background-image: url("../images/ServicioSocial.png");
  background-position: center;
  background-size: cover;
  justify-content: flex-start;
  width: 480px;
}

main section:nth-of-type(3) article:nth-child(4) {
  background-image: url("../images/Internado.png");
  background-position: center;
  background-size: cover;
  justify-content: center;
  width: 480px;
}

main section:nth-of-type(3) article:last-of-type {
  background-image: url("../images/Preparatoria.png");
  background-position: center;
  background-size: cover;
  justify-content: flex-start;
  width: 480px;
}

main section:nth-of-type(3) article:hover {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

footer section {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer section article {
  text-align: left;
  color: white;
}

footer section article:first-of-type {
  background-color: #2146c7;
  width: 45%;
  padding: 1rem 2rem;
  border-top: white 2px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

footer section article:first-of-type ul{
    font-size: x-large;
  }

footer section article:last-of-type {
  background-color: #009eff;
  width: 45%;
  padding: 1rem 2rem;
  border-top: white 2px solid;
}

footer section article:last-of-type p {
  margin-bottom: 1rem;
}


footer section article:first-of-type > div {
  margin-left: 2rem;
  width: auto;
  height: auto;
}